@model AutoServiceManagementSystem.ViewModels.Manage.AccountDetailsViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<div>
    <h4>Change your account settings</h4>
    <hr />

    <div class="row">
        @Html.Partial("_EditUserDetails", Model.UserDetails)
    </div>

    <div id="update-on-success" class="row collapse">
        <div class="col-md-2"></div>
        <div id="loading-user-update" class="alert alert-success col-md-2">
            <strong style="color: white">Changes were successfully saved!</strong>
        </div>
    </div>

    <div id="update-on-error" class="row collapse">
        <div class="col-md-2"></div>
        <div id="loading-user-update" class="alert alert-danger col-md-2">
            <strong style="color: white">Something went wrong. Please try again.</strong>
        </div>
    </div>

</div>

@section Scripts{
    <script src="~/Scripts/Vendor/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/App/Manage/UpdateUserDetails.js"></script>
}