@model AutoServiceManagementSystem.ViewModels.Customers.DisplayCustomerViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>



<section id="customers-list" class="container-fluid lead">
    @Html.DisplayForModel("DisplayCustomerViewModel")
</section>