body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* 
   Responsive tables 
   taken from: http://bootsnipp.com/snippets/featured/no-more-tables-respsonsive-table
*/
@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #responsive-table table,
    #responsive-table thead,
    #responsive-table tbody,
    #responsive-table th,
    #responsive-table td,
    #responsive-table tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #responsive-table thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #responsive-table tr {
        border: 1px solid #ccc;
    }

    #responsive-table td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align: left;
    }

        #responsive-table td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 6px;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
            text-align: left;
            font-weight: bold;
        }

    html > body #responsive-table td:before {
        content: attr(data-title);
    }
}

@media only screen and (max-width: 480px)
{

}
/* END Responsive tables */

/* BEGIN User Styles */
.metro-container {
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2.5em;
    width: 100%;
    margin: 1.0em 0.1em;
}

.info-panel {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
    margin-top: 20px;
    margin-left: 70px;
}

#btn-add-supplier {
    clear: left;
}

@media screen and (max-width: 990px )
{
    .info-panel {
        margin: 2em 0;
        text-align: center;
        font-size: large;
    }

    #navigation-top {
        opacity: 0.87;
    }
}

