@{
    ViewBag.Title = "Home Page";
}
<div class="full-width">
    <div class="leading-image">
        <div class="overlay"></div>
        <div class="hero">
            <hgroup>
                <h1>Welcome to our amazing application.</h1>
                <h2>Learn how to start using it.</h2>
            </hgroup>
        </div>
    </div>

    <div class="jumbotron">
        <h1>Auto service management system</h1>
        <p class="lead">This application will help you keep track of your clients and their cars' repairs history.</p>
    </div>
</div>


@if (User.Identity.IsAuthenticated)
{
    <div id="daily-supplier" class="row">
        @Ajax.ActionLink("Click to see today's supplier.",
            "DailySupplier",
                null,
                new AjaxOptions
                {
                    UpdateTargetId = "daily-supplier",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "GET"
                },
                new { @class = "btn btn-primary" })
    </div>
  
}


@section Scripts{
    <script src="~/Scripts/Vendor/jquery.unobtrusive-ajax.min.js"></script>
}