@{
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
    ViewBag.Title = "Landing page";
}
<div class="content-fluid">
    <div class="row">
        <div class="image-overlay"></div>
        <div class="leading-image">
            <div class="hero">
                <hgroup>
                    <h1>Auto service management system</h1>
                    <h2>This application will help you keep track of your clients and their cars' repairs history.</h2>
                </hgroup>
            </div>
        </div>

        <div class="jumbotron">
            <div class="container text-center">
                <h2 class="h2">Change the way you manage your business.</h2>
                <p class="lead">Our advanced statistics will help you easily analyze your spendings and profits like never before.</p>
            </div>
        </div>

        <div class="row features">
            <div class="col-md-4">
                <h3>Find the best spare parts supplier.</h3>
                <p>After using our product for a while, you will be able to identify the most suitable suppliers for your bussines needs.</p>
            </div>
            <div class="col-md-4">
                <h3>Scale your business.</h3>
                <p>This application was developed for small businesses in mind. We turn the tedious work of documenting your clients' cars history into a more pleasureable expereince.</p>
            </div>
            <div class="col-md-4">
                <h3>Access your data from anywhere.</h3>
                <p>You can easily manage your garage on the go. This application is responsive and looks good on any device.</p>
            </div>
        </div>

        <div class="row metro-container">
            <div class="col-md-6">
                <h3>Knowledge is power.</h3>
                <p>Save your customers money by taking advantage of spare parts warranties. You will know exactly when a defect part was mounted and you can confidently look for a refund.</p>
            </div>
            <div class="col-md-6">
                <h3>Another feature.</h3>
                <p>This is just another feature.</p>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/Vendor/jquery.unobtrusive-ajax.min.js"></script>
}
